

.jumbotron {
  background-image: url("https://media.giphy.com/media/ROyijmazFKRc4/giphy.gif");

}

IMG.displayed {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  height: auto;
}

h1 {
  text-align: center;
  animation:
}
